 /*
 * CSS Example
 */

.h3{ margin: 0 0 1em;}
.list{ padding: 0 0 0 1.5em;}
p{ margin: 0 0 1em;}

.carousel .slide { height: 330px; }
.carousel-demo .ft{ text-align: center;}

.wd-img{width: 100%;}
.sm-img{width: 50%;}

/*	Media Object	*/
.media, .body{ overflow: hidden; text-align: left;}
.img{float: left; margin-right: 20px;}
.img img {display: block; width: 100%;}
.body .link,
.body .link:visited {color: #45bf28;}
